body {
    text-align: center;
    background: #c98f29;
    color: white;
}

.status-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.board {
    background: rgb(169, 164, 164);
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.space {
    background: rgb(192, 191, 191);
    color: black; 
    padding: 0.3rem;
    border-radius: 0.7rem;
    font-weight: bold;

    display: grid;
    place-items: center;
}

[data-category="maantieto"] { background: rgb(37, 161, 37) }
[data-category="yleistieto"] { background: rgb(216, 89, 111) }
[data-category="historia"] { background: orange }
[data-category="taide ja kulttuuri"] { background: rgb(165, 91, 165) }
[data-category="tiede"] { background: rgb(81, 81, 179) }
[data-category="urheilu"] { background: rgb(165, 48, 48) }

.game-header {
    background: black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 10rem;
}


.player-card {
    background: black;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}

.dice-panel {
    background: black;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    display: grid;
    place-items: center;
}

.dice-box {
    background: rgb(138, 137, 137);
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    border: 0.2rem solid white;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.player-image {
    width: 4rem;
}