body {
    text-align: center;
    background: #c98f29;
    color: white;
}

.status-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.board {
    background: rgb(169, 164, 164);
    padding: 1rem;
    border-radius: 1rem;
}

.space {
    
}

.game-header {
    background: black;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 10rem;
}

.dice-panel,
.player-card {
    background: black;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}

.player-image {
    width: 4rem;
}